.cta-section {
    width: 120.9rem;
    height: 41rem;
    background-color: $color-white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 99;
    position: absolute;
    top: 62.4rem;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15rem;
    @include flex;
    @include flow-column;
    @include align-center;
    @include responsive(tab-landscape) {
        max-width: 90%;
    }
    @include responsive(tab-portrait) {
        top: 52.4rem;
    }
    @include responsive(large-phone) {
        top: 42.4rem;
    }
    @include responsive(phone) {
        @include flow-column;
        height: auto;
        top: 52.4rem;
    }
    
    &__container {
        @include flex;
        @include align-center;
        @include justify-space-between;
        @include flow-row;
        padding-top: 4rem;
        width: 100%;
        padding-left: 4.2rem;
        padding-right: 4.2rem;
        @include responsive(tab-landscape) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        @include responsive(large-phone) {
            padding-left: 0;
            padding-right: 0;
        }
        @include responsive(phone) {
            @include flow-column;
        }
    }

    &__block {
        @include flex;
        @include align-center;
        @include flow-column;
        width: 33.1rem;
        height: 33.1rem;
        padding-top: 4rem;
        &:not(:last-child) {
            padding-right: 1.5rem;
        }
        @include responsive(large-phone) {
            @include justify-center;
            padding-top: 0;
            &:not(:last-child) {
                padding-right: 0;
            }
        }
        @include responsive(phone) {
            padding-top: 0;
            height: 27rem;
            width: 27rem;
        }
        @include responsive(small-phone) {
            height: 26rem;
            width: 26rem;
        }
    }

    &__image {
        width: 7.249rem;

        img {
            width: 100%;
        }
    }
}